body {
  background-color:white;
  display:inline-block;
}

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.start{
  width:100%;
  height:100%;
}

.container{
	text-align:center;
	
}